body{
  background-image: radial-gradient(circle, #c596a2, #957369, #5f5341, #2f3426, #07150f);: 
}

.king-hotwheels {
  display: none;
}
.ash {
  display: none;
}
.han-solo {
  display: none;
}
.yoda {
  display: none;
}
.baby-yoda {
  display: none;
}
.mecha-hitler {
  display: none;
}